@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.globalbg {
  background: radial-gradient(
    circle,
    rgb(250, 250, 250) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.navbarbg {
  background-color: #e2e2e2;
}

.main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main_content .card {
  background-color: rgba(248, 248, 248, 0.3);
  width: 32%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}

.main_content .card:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(0.85);
  cursor: pointer;
}

.main_content .card:hover .card_header .btn {
  background-color: rgb(255, 217, 141);
}

.main_content .card .card_img {
  width: 250px;
}

.main_content .card .card_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px 0;
}

.main_content .card .card_header p {
  text-align: center;
  color: rgba(black, 0.3);
  margin: 8px 0;
}

.is-flex {
  display: flex;
}

.widthcarousel {
  width: 75%;
}

.image-gallery-slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

@media screen and (max-width: 992px) {
  .widthcarousel {
    width: 100%;
  }

  .main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .main_content .card {
    width: 100%;
  }

  .centered {
    justify-content: center;
  }

  .has-text-center {
    text-align: center;
  }

  .main_content .card:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(0.85);
    cursor: pointer;
  }
}

.btn {
  font-size: 14px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.popover {
  z-index: 2060 !important;
}
